input[type=text]{
  color: #E7E9EB
}

html, body {
  height: 100%;
  background-color: #2e2e2e;
  color: #717171;
  color: #E7E9EB;
  font-family: tahoma;
}

twitter-tweet{
  font-size:10px;
  width: 200px;
}

.form-label{
  text-align: right;
  width: 60%;
}

/* CSS only for examples not required for centering */
.container {
  height: 100%;
}

#label_name{
  color: orange;
  background-color: #3b2424;
  padding: 1px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid orange;
}

.note {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  padding: 5px;
  background: #eee;
  max-width: 360px;
}

#tweet{
  background-color: #292929;
  color: #b7b7b7;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 100;
}

.title-top{
  background-color: #f38b30;
  padding: 5px;
  border-radius: 100px;
  color: black;
}

#header{
  background-color: #3b3b3b;
  margin-bottom: 20px;
  max-width: 100%;
}

.form-input-search{
  display: flex;
  z-index: 3;
  height: 44px;
  background: #252525;
  border: 1px solid transparent;
  box-shadow: 0 1px 3pxrgba(23,23,23,0.24);
  border-radius: 24px;
  margin: 0 auto;
  width: 60%;
}

#1500life {
  transition: transform .7s ease-in-out;
}
#1500life:hover {
  transform: rotate(360deg);
}

/* show border around full height container */
.h-100 {
}

/* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}