<!DOCTYPE html>
<html>
<head>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J25GPJEP27"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-J25GPJEP27');
  </script>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
<link rel="stylesheet" type="text/css" href="{% static '/show.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
</head>
<body>


  <div class="row h-20">
    <div class="col-sm-12 my-auto">
      <div id="header" class="container text-center">
        <div id="search-form" class="row align-items-center">
          <div class="col">
            <form class="row g-3" action="/show" method="get">
              <div class="col-12">
                <a href="https://1500.life"><img height="48px" src="{% static '/img/favicon.ico' %}"></a>
              </div>
              <div class="col-1">
                <button type="submit" class="btn btn-primary mb-3">جستجو</button>
              </div>
              <div class="col-10">
                <input type="text" name="username" class="form-control  form-input-search" id="inputPassword2" placeholder="@username">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include 'messages.html' %}

  <div class="row h-10">
    <div class="col-sm-12 my-auto">
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
          </div>
          <div class="col">
          </div>
          <div class="col">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <div class="col-auto">
            </div>
          </div>
          <div class="col-10">
            <img id="img" src="{{ user.profile_image_url }}" />
            <br>
            <a href="https://twitter.com/{{ user.user_name }}">{{ user.user_name }}</a>
            <br>
            <h1>
            </h1>
            {% if user.user_id|length > 0  %}
            <h6>
              {{ user.user_id }} :شماره یکتا توییتر
            </h6>
            {% endif %}
            {% if accounts|length >= 2 %}
              <p class="title-top">
              دارای سابقه تغییر اکانت‌های زیر
              </p>
              <hr>
              <table class="table" style="color:white;">
                <tr>
                  <th scope="col">نام کاربری</th>
                  <th scope="col">نام</th>
                  <th scope="col">توضحات</th>
                  <th scope="col">عکس</th>
                </tr>
              {% for account in accounts %}
                <tr>
                  <td scope="row">{{ account.user_name }}</td>
                  <td>{{ account.name }}</td>
                  <td>{{ account.description }}</td>
                  <td><img id="img" src="{{ account.profile_image_url }}" /></td>
                </tr>
              {% endfor %}
              </table>
            {% endif %}


            {% if tweets %}
            <p class="title-top">
            توییت‌های حساسیت برانگیز کاربر
            </p>
            <table class="table" style="color:white">
              <thead>
                <tr>
                  <th scope="col">متن</th>
                  <th scope="col">نمایش</th>
                  <th scope="col">آرشیو</th>
                  <td scope="col">لایک</td>
                </tr>
              </thead>
              <tbody>
            {% endif %}
            {% for i in tweets %}
                <tr>
                  <th scope="row">
                    <p id="tweet">{{ i.text }}</p>
                  </th>
                  <td>
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse{{ i.name }}{{ i.tweet_id }}{{ i.label_id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                      نمایش
                    </a>
                    <div class="collapse" id="collapse{{ i.name }}{{ i.tweet_id }}{{ i.label_id }}">
                      <div class="card card-body">
                          <blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/twitter/status/{{ i.tweet_id }}"></a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                    </div>
                  </td>
                  <td>
                    <a href="{{ i.archive }}">آرشیو</a>
                  </td>
                  <td>
                    <a href="https://twitter.com/i/web/status/{{ i.tweet_id }}">{{ i.like_count }}</a>
                  </td>
                </tr>
            {% endfor %}
            {% if tweets %}
            </tbody>
          </table>
            {% endif %}

            {% if labels %}
            <p class="title-top">
            وضعیت توییت‌های حساسیت برانگیز لایک شده کاربر
            </p>
            <table class="table" style="color:white">
              <thead>
                <tr>
                  <th scope="col">متن</th>
                  <th scope="col">نمایش</th>
                  <th scope="col">آرشیو</th>
                  <td scope="col">لایک</td>
                </tr>
              </thead>
              <tbody>
            {% endif %}

            {% for i in labels %}
                <tr>
                  <th scope="row">
                    <p id="tweet">{{ i.text }}</p>
                  </th>
                  <td>
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse{{ i.name }}{{ i.tweet_id }}{{ i.label_id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                      نمایش
                    </a>
                    <div class="collapse" id="collapse{{ i.name }}{{ i.tweet_id }}{{ i.label_id }}">
                      <div class="card card-body">
                          <blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/twitter/status/{{ i.tweet_id }}"></a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                    </div>
                  </td>
                  <td>
                    <a href="{{ i.archive }}">آرشیو</a>
                  </td>
                  <td>
                    <a href="https://twitter.com/i/web/status/{{ i.tweet_id }}">{{ i.like_count }}</a>
                  </td>
                </tr>
            {% endfor %}
            {% if labels %}
              </tbody>
            </table>
            {% endif %}
    

          </div>
          <div class="col">
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
          </div>
          <div class="col">
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
